:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }


header {
	padding: 50px 70px;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: white;
	text-align: center;
	margin-bottom: 1rem;
	font-family: 'Times New Roman', Times, serif;
	text-shadow: 0px 1px 0px rgb(204, 204, 204), 0px 2px 0px rgb(201, 201, 201), 0px 3px 0px rgb(187, 187, 187), 0px 4px 0px rgb(185, 185, 185), 0px 5px 0px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 20px 20px rgba(0, 0, 0, 0.15);
	
}
#new-task-form {
	display: flex;
	max-width: 100%;
}
input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
#new-task-input {
	/* flex: 1 1 0%; */
	width: 700px;
	padding: 1rem;
	border-radius: 0;
	font-size: 1.25rem;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

#new-task-input::placeholder {
	color: #fff;
}

#new-task-submit {
	/* color: var(--pink); */
	font-size: 1.25rem;
	font-weight: 700;
	background: transparent;
	color: #EEE;
	padding: 10px 70px;
	cursor: pointer;
	transition: 0.4s;
	border: 1px solid white;
}
#new-task-submit:hover {
	background-color: #e73c7e;
}

#new-task-submit:active {
	opacity: 0.6;
}
main {
	flex: 1 1 0%;
	
	max-width: 100%;
	margin: 0 auto;
}
.task-list {
	padding: 1rem;
}


#tasks .task {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	border-radius: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#tasks .task:nth-child(even) {
	background-color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
#tasks .task:nth-child(odd) {
	background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}
.task .content {
	flex: 1 1 0%;
}
.task .content .text {
	color: black;
	font-size: 24px;
	font-weight: 700;
	width: 100%;
	display: block;
	transition: 0.4s;
}
.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}
.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}
.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
	font-weight: 700;
}
.task .actions .delete {
	color: crimson;
}
.task .content .text:not(:read-only) {
	color: var(--pink);
}