:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
}
header {
	padding: 50px 70px;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	background-color: red;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: white;
	text-align: center;
	margin-bottom: 1rem;
}
#new-task-form {
	display: flex;
}
input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
#new-task-input {
	flex: 1 1 0%;
	padding: 1rem;
	border-radius: 0;
	font-size: 1.25rem;
	background: #FFF;
}

#new-task-input::placeholder {
	color: #6B7280;
}

#new-task-submit {
	/* color: var(--pink); */
	font-size: 1.25rem;
	font-weight: 700;
	background: gray;
	color: #EEE;
	padding: 10px 70px;
	cursor: pointer;
	transition: 0.4s;
}
#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}
main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.task-list {
	padding: 1rem;
}


#tasks .task {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 0;
}
#tasks .task:nth-child(even) {
	background-color: rgb(224, 217, 217);
}
#tasks .task:nth-child(odd) {
	background-color: rgb(252, 251, 251);
}
.task .content {
	flex: 1 1 0%;
}
.task .content .text {
	color: black;
	font-size: 24px;
	font-weight: 700;
	width: 100%;
	display: block;
	transition: 0.4s;
}
.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}
.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}
.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.task .actions .delete {
	color: crimson;
}
.task .content .text:not(:read-only) {
	color: var(--pink);
}